alabaster==0.7.12
boto3==1.4.8
botocore==1.4.93
csvkit==1.0.3
docutils==0.14
glob2==0.6
jsonschema==2.6.0
numpy==1.11.3
pandas==0.23.4
py==1.4.34
Pygments==2.3.1
pytest==3.10.1
requests==2.21.0
requests-cache==0.4.13
requests-jwt==0.5.3
simplejson==3.16.0
Sphinx==1.8.3
